.name{
  font-weight: bolder;
  font-size: large;
}

.mainpage{
    margin: 20px;
    text-align: center;
    justify-content: center;
    background-color: rgba(37, 150, 190);
    border: 3px solid blue;
    padding: 20px;
}

.mainpage h1{
    color: white;
    margin: 5px;
}

.mainpage p{
    color: white;
    margin: 1px;
}
